<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The VCE Student Affairs makes the division of student works in a student centered environment which helps developing personal growth and learning through both Co-Curricular and Extra-Curricular experiences, Vardhaman College of Engineering.">
    <title>VCE Student Affairs</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/public/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/freelancer.min.css" rel="stylesheet">
    <link href="/public/assets/css/style.css" rel="stylesheet">
</head>
