#mainNav{
    background-color: #F5F5F5;
}

#mainNav .navbar-brand img{
    height: 65px;
    width: 175px;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #18BC9C !important;
}

header.masthead {
    height: 600px;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.hero {
    padding-top: 150px;
}

.img-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-col p{
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding: 30px 0px 0px 0px;
}

[class$='-img']{
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 2px 5px #aeaeae;
}
.events_img{
    
    height:8cm;
    width:20cm;
}

/*May be useful in future */

.principal-sir-img{ background-image: url('/public/assets/img/principal-sir.jpg'); }

.jabbar-sir-img{ background-image: url('/public/assets//img/jabbar-sir.jpg'); }

.rajanikanth_sir-img{ background-image: url('/public/assets/img/rajanikanth_sir.png'); }

.mallikharjuna_sir-img{ background-image: url('/public/assets/img/mallikarjun_sir.png'); }

.kulkarni-sir-img{ background-image: url('/public/assets/img/kulkarni-sir.jpg'); }

.asif_sir-img{ background-image: url('/public/assets/img/asif_sir.jpg'); }

.prashanth-img{ background-image: url('/public/assets/img/prashanth.jpg'); }/*Common*/

.vaishnavi-img{ background-image: url('/public/assets/img/vaishnavi.jpg'); }/*Common*/

.akash-img{ background-image: url('/public/assets/img/akash.jpg'); }

.puneeth-img{ background-image: url('/public/assets/img/puneeth.jpeg'); }/*Common*/


.newsletter-pdf{
    height: 800px;
    width: 800px;
}
